.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*::selection {
	background-color: rgba(67, 213, 177, 0.9);
	color: #fff;
}
*::-moz-selection {
	background-color: rgba(67, 213, 177, 0.9);
	color: #fff;
}
*::-webkit-selection {
	background-color: rgba(67, 213, 177, 0.9);
	color: #fff;
}

input[type='checkbox'] {
	left: 1rem;
	position: relative;
	width: 2rem;
}
input[type='checkbox'] + label {
	position: relative;
	left: -1rem;
	pointer-events: none;
	height: calc(1rem + 2px);
	outline: none;
}
input[type='checkbox'] + label::after {
	transition: all 0.2s;
	border-radius: 1rem;
	content: '';
	position: absolute;
	display: 'inline-block';
	width: calc(2rem + 2px);
	left: -0.5rem;
	border: 0;
	box-shadow: 0 0 1px 1px gray inset;
	background-color: #fff;
	height: calc(1rem + 2px);
}
input[type='checkbox'] + label::before {
	transition: all 0.2s;
	border-radius: 1rem;
	content: '';
	z-index: 2;
	top: 1px;
	left: calc(-0.5rem);
	position: absolute;
	display: 'inline-block';
	width: 1rem;
	background-color: #fff;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	height: 1rem;
}
input[type='checkbox']:checked + label::before {
	left: calc(-0.5rem + 1rem - -1px);
	height: calc(0.975rem - 2px);
	width: calc(0.975rem - 2px);
	top: calc(0.25rem / 2);
	border: 0;
}
input[type='checkbox']:checked + label::after {
	background-color: rgba(67, 213, 177, 1);
	box-shadow: 0 0 1px 1px rgba(67, 213, 177, 1) inset;
	border-color: green;
	box-shadow: none;
}

.button {
	border: 1px solid #808080;
	font-weight: normal;
	display: inline-block;
	border-radius: 0.25rem;
	background-color: #F5F5F5;
	color: #333;
	cursor: pointer;
	height: 1.5rem;
	margin: 0px 0.125rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.5rem;
	box-shadow: 0px -2px #B9B9B9 inset;
	transition: all 0.2s ease 0s;
	padding: 0px 0.5rem;
	height: 1.75rem;
}
	.button:hover {
		background-color: #DEDDDD;
	}

	.btn-green {
		color: #FFF;
		border-color: #3E875C;
		background-color: #25C869;
		box-shadow: 0 -2px #2CA15F inset;
	}
		.btn-green:hover {
			border-color: #3E875C;
			box-shadow: 0 -2px #2CA15F inset;
			background-color: rgb(45, 185, 102);
		}
	.btn-red {
		color: #FFF;
		background-color: #D64541;
		border-color: #AA4B48;
		box-shadow: 0 -2px #AE4541 inset;
	}
		.btn-red:hover {
			box-shadow: 0 -2px #A73A36 inset;
			background-color: #CF3D39;
			border-color: #AA4B48;
		}


html, body {
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
* {
	box-sizing: border-box;
}

#new_playlist-input {
	width: 9.2rem;
	border-radius: 0.2rem;
	border: 1px solid gray;
	margin-bottom: 0.2rem;
	height: 1.35rem;
	padding: 0 0.25rem;
}

#errPage {
	background: url(/img/logoGradient.png);
	background-size: cover;
	filter: saturate(0.5);
	-webkit-filter: saturate(0.5);
	color: #fff;
	overflow: hidden;
	padding: 0 2rem;
	height: 100%;
}
	#errPage pre {
		display: inline-block;
	}
	#errPage a {
		color: #fff;
		font-weight: bold;
	}
	#errPage p {
		font-size: 1.25rem;
		margin: 0.5rem 2rem;
	}

#settings {
	padding: 3rem;
    padding-top: 2rem;
}
	#settings .search-header {
		padding-left: 0rem;
		margin-bottom: 0.5rem;
	}
	.settings-success {
		opacity: 0;
		transition: all 0.3s;
	}

#top_colour_bar {
	width: 100%;
	position: fixed;
	background: url(/img/logoGradient_v2.png);
	background-size: cover;
	top: 0;
	left: 0;
	height: 3px;
	z-index: 9;
}

.context_menu-cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
	.context_menu-cover-hidden {
		pointer-events: none;
	}
.context_menu {
	width: 10rem;
	background-color: rgb(254, 254, 254);
	color: rgb(36, 36, 36);
	border: 2px solid rgb(177, 177, 177);
	border-radius: 0.2rem;
	position: absolute;
	z-index: 11;
	margin-top: 0.3rem;
	font-weight: 300;
	font-size: 0.8rem;
	box-shadow: 0px 0px 0.3rem 0.075rem rgba(100, 100, 100, 0.1);
}
	.context_menu::after {
		content: "";
		display: inline-block;
		position: absolute;
		left: calc(50% - 0.5rem);
		top: -0.5rem;
		width: 0px;
		height: 0px;
		border-left: 0.55rem solid transparent;
		border-right: 0.55rem solid transparent;
		border-bottom: 0.55rem solid rgb(255, 255, 255);
	}
	.context_menu::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: -0.65rem;
		width: 0px;
		height: 0px;
		border-left: 0.65rem solid transparent;
		border-right: 0.65rem solid transparent;
		border-bottom: 0.65rem solid #B1B1B1;
		left: calc(50% - 0.6rem);
	}
	.context_menu-item {
		border-bottom: 1px solid rgb(155, 155, 155);
		padding: 0.15rem 0.25rem;
	}
		.context_menu-item:hover {
			background-color: rgb(243, 243, 243);
		}
		.context_menu-item:last-child {
			border: 0;
		}
	.context_menu-next_level {
		top: 0;
		position: absolute;
		width: calc(100% + 4px);
		background-color: rgb(255, 255, 255);
		min-height: calc(100% + 2px);
		border: 2px solid rgb(155, 155, 155);
		border-radius: 0.25rem;
		left: -2px;
		border-top: 0;
	}
		.context_menu-next_level-back_header {
			margin-bottom: 1.375rem;
		}
			.context_menu-next_level-back_header-icon {
				float: left;
				padding: 0.25rem 0.25rem 0px;
			}
			.context_menu-next_level-back_header-header {
				position: absolute;
				width: 100%;
				display: block;
				z-index: 2;
				text-align: center;
				padding: 0.125rem;
				font-weight: normal;
				border-bottom: 1px solid #808080;
			}

.currently_playing {
	color: rgb(0, 120, 255);
}

#yt_player {
	position: absolute;
	z-index: 4;
	left: -100%;
}

.search-results_header {
	padding-left: 3rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.search-header {
	font-variant: small-caps;
	font-weight: 300;
	font-size: 2rem;
	color: #636363;
	padding-left: 3rem;
	margin-bottom: -1.5rem;
}
.search-not-found {
	font-size: 1.2rem;
	padding-left: 1rem;
	padding-top: 1rem;
	border-top: 1px solid gray;
	width: 100%;
	margin-top: 2rem;
}
	.search-not-found-borderless {
		font-size: 1.2rem;
		padding-left: 1rem;
		padding-top: 1rem;
		width: 100%;
	}
.search-group {
	overflow-y: auto;
	flex-wrap: wrap;
	display: flex;
	padding: 2rem;
	padding-top: 1rem;
	justify-content: space-between;
}
.album {
	background-size: cover;
	margin: 1rem;
	height: 10rem;
	vertical-align: top;
	width: 10rem;
	display: inline-block;
	box-shadow: 0 0 0.15rem rgba(128, 128, 128, 0.59);
	position: relative;
	margin-bottom: 1.25rem;
	transition: all 0.2s;
}
	.album::before {
		content: attr(title);
		position: absolute;
		bottom: -1.3rem;
		text-align: center;
		width: 10rem;
		font-size: 0.85rem;
		font-weight: 300;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

	}
	.album:hover {
		box-shadow: 0 0 0.25rem rgba(128, 128, 128, 0.75);
	}
	.album:hover::after {
		content: '';
		display: inline-block;
		top: 0;
		left: 0;
		position: absolute;
		width: 10rem;
		height: 10rem;
		background-color: #4B4B4B;
		z-index: 1;
		opacity: 0.7;
		z-index: 1;
	}
	.album i {
		opacity: 0;
		pointer-events: none;
	}
	.album.album-play i {
		opacity: 1;
		z-index: 3;
		display: block;
		text-align: center;
		position: relative;
		border: 0px solid white;
		top: 3.5rem;
		color: white;
		cursor: pointer;
	}
		.album.album-play i:before {
			opacity: 1;
			content: "\00a0\f04b";
			font-size: 3.9rem;
			border: 2px solid #fff;
			border-radius: 5rem;
			width: 5rem;
			margin-top: -1rem;
			margin-left: 0.1rem;
			line-height: 5rem;
			height: 5rem;
			display: inline-block;
		}

.songs {
	width: calc(100% - 2rem);
	border: 0px none;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 1rem;
}
	.songs thead {
		border-bottom: 1px solid gray;
		font-variant: small-caps;
		border: 0;
		cursor: default;
	}
		.songs th {
			font-weight: normal;
			font-size: 1.25rem;
			border-bottom: 1px solid gray;
			text-align: left;
		}
			.songs th:hover, .songs thead tr:hover{
				text-decoration: none;
			}
	.songs tr {
		font-size: 0.85rem;
	}
	.songs tr:nth-child(even) {
		background-color: #F3F3F3;
	}
		.songs tr:hover {
			text-decoration: underline;
		}
		.songs td {
			cursor: pointer;
			padding: 0.25rem 0;
		}

.album_header {
	margin: 0px -2rem;
	width: calc(100% + 4rem);
	position: relative;
}
	.album_header_background {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
		filter: saturate(1.0625);
		-webkit-filter: saturate(1.0625);		
	}
	.album_header_background-image {
		filter: saturate(0);
		-webkit-filter: saturate(0);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background-size: cover !important;
		opacity: 0.08;
	}
	.album_header-album {
		margin-left: 3rem;
		float: left;
		height: 13rem;
		width: 13rem;
	}
	.album_header-right {
		float: right;
		width: calc(100% - 16rem);
		padding: 0 1rem;
		height: 100%;
	}
		.album_header-right-title {
			font-weight: 200;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 3.5rem;
		}
		.album_header-right-info {
			font-weight: 300;
			padding-left: 0.25rem;
			font-size: 1rem;
		}

#menu {
	width: 15rem;
	height: calc(100% - 8rem);
	border-right: thin solid #808080;
	float: left;
	padding-top: 0.5rem;
	transition: text-shadow 0.2s ease 0s;
	overflow-y: auto;
}
	#menu-logo {
		font-family: "Lobster",sans-serif;
		font-size: 3rem;
		display: block;
		text-align: center;
		cursor: pointer;
		color: rgb(15, 173, 217);
		-moz-text-shadow: -1px 1px 0.05rem #2E5896 !important;
		background: -webkit-linear-gradient(transparent, transparent), url('/img/logoGradient_v2.png');
		background: -o-linear-gradient(transparent, transparent);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: cover;
		text-decoration: none;
		margin-bottom: -3.5rem;
	}
		#menu-logo_second {
			color: rgba(67, 213, 177, 0.9);
		}
		#menu-logo::after {
			content: 'PlayIt';
			color: transparent;
			text-shadow: 0px 1px 0.1rem #E4E4E4 !important;
			background: transparent;
			position: relative;
			top: -3.7rem;
			z-index: -1;
		}
	#menu-search_box {
		position: relative;
		padding: 0 0.5rem;
		margin: 0.5rem 0;
	}
		#menu-search_box input {
			border: 1px solid #B1B1B1;
			border-radius: 1rem;
			height: 1.75rem;
			width: 100%;
			padding: 0.3rem 0.5rem 0.3rem 1.3rem;
			font-family: 'Roboto', sans-serif;
		}
			#menu-search_box input:focus, #menu-search_box input:hover {
				outline: none;
				box-shadow: 0px 0px 0.05rem 0.1rem rgba(228,228,228,0.75) inset;
			}
		
			#menu-search_box input:-ms-input-placeholder {
				font-style: italic;
			}
			#menu-search_box input::-moz-placeholder {
				font-style: italic;
			}
			#menu-search_box input::-webkit-input-placeholder {
				font-style: italic;
			}
		#menu-search_box i {
			position: absolute;
			cursor: default;

			left: 0.875rem;
			font-size: 0.95rem;
			top: 0.39rem;
			color: #6F6F6F;
		}
	.menu-menu_header {
		cursor: default;
		font-variant: small-caps;
		letter-spacing: 0.04rem;
		margin-left: 0.75rem;
	}
	#menu-menu_items {}
		.menu-menu_item {
			width: 100%;
			color:;
			padding: 0.125rem 1.5rem;
			font-size: 1rem;
			font-weight: 300;
			cursor: default;
		}
			.menu-menu_item:hover {
				background-color: #F3F3F3;
			}
			.menu-menu_item span {
				cursor: pointer;
				padding-left: 0.25rem;
			}
		.menu-menu_item_selected, .menu-menu_item_selected:hover {
			background-color: #ddd;
		}
	#menu-song_playing {
		height: 4rem;
		width: 15rem;
		position: absolute;
		border-top: 1px solid gray;
		border-right: 1px solid #808080;
		bottom: 4rem;
	}
		#menu-song_playing-album_cover {
			height: 4rem;
			width: 4rem;
			float: left;
		}
		#menu-song_playing-song_name,
		#menu-song_playing-artist_name {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			height: 2rem;
			width: calc(100% - 4rem);
			padding: 0.5rem;
			padding-bottom: 0.25rem;
			float: right;
		}
		#menu-song_playing-artist_name {
			font-size: 0.9rem;
			padding-bottom: 0.5rem;
			padding-top: 0.25rem;
			font-weight: 300;
		}

	#playlists-no_playlists {
		padding-left: 1.75rem;
		font-size: 0.9rem;
		cursor: default;
		font-weight: 300;
	}

#app {
	width: calc(100% - 15rem);
	float: right;
	height: calc(100% - 4rem);
	overflow-y: auto;
	padding-top: 3px;
}

#player {
	width: 100%;
	border-top: 1px solid #C0C0C0;
	clear: both;
	position: relative;
	height: 4rem;
	cursor: default;
}
	#player-controller_buttons {
		display: inline-block;
		margin-top: 0.75rem;
		margin-left: 0.75rem;
		color: #575A62;
	}
		#player-controller_buttons i {
			transition: border-color 0.175s, color 0.175s, box-shadow 0.175s;
		}
		#player-controller_buttons.pause #player-controller_buttons-backward,
		#player-controller_buttons.pause #player-controller_buttons-forward {
				position: relative;
				bottom: 0.18rem;
		}
		#player-controller_buttons.play #player-controller_buttons-backward,
		#player-controller_buttons.play #player-controller_buttons-forward {
				position: relative;
				bottom: 0.3rem;
		}

		#player-controller_buttons-backward {
			margin-right: 0.2rem;
		}
		#player-controller_buttons-forward {
			margin-left: 0.2rem;
			margin-right: 0.8rem;
		}

		#player-controller_buttons i {
			cursor: pointer;
		}
			#player-controller_buttons-backward:hover,
			#player-controller_buttons-play_pause:hover,
			#player-controller_buttons-forward:hover {
				color: #959595;
			}
		#player-controller_buttons-play_pause {
			border-radius: 3rem;
			border: 1px solid #808080;
			width: 2.5rem;
			height: 2.5rem;
		}
				#player-controller_buttons-play_pause:hover {
					border-color: #ABABAB;
					color: #6F737B;
					box-shadow: 0px 0px 0.125rem rgba(113,113,113,0.4);
				}
				#player-controller_buttons-play_pause:active {
					color: #575A62;
				}
			#player-controller_buttons-play_pause.fa-play {
				padding-left: 0.66rem;
				font-size: 1.8rem;
				padding-top: 0.32rem;
			}
			#player-controller_buttons-play_pause.fa-pause {
				font-size: 1.5rem;
				padding-left: 0.53rem;
				padding-top: 0.44rem;
			}
	#player-slider {
		bottom: 1.8rem;
		display: block;
		position: relative;
		width: 80%;
		left: 6rem;
	}
		#player-slider .slider-full {
			width: 80%;
		}
	#player-volume-slider {
		float: right;
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
	}
		#player-volume-slider .slider-full {
			width: 5rem;
		}
	.slider-full {
		background-color: #D5D5D5;
		border-radius: 1rem;
		height: 0.25rem;
		margin-bottom: 0.2rem;
		display: inline-block;
	}
		.slider-completed {
			width: 0;
			height: 0.25rem;
			background-color: #59ABE3;
			position: absolute;
			border-radius: 1rem;
		}
		.slider-drag {
			width: 0.75rem;
			border-radius: 1rem;
			background-color: gray;
			height: 0.75rem;
			bottom: 0.25rem;
			position: relative;
		}
			.slider-drag.slider-drag_focus::after {
				content: '';
				width: 0.4rem;
				height: 0.4rem;
				display: inline-block;
				background-color: #FFF;
				position: absolute;
				color: white;
				bottom: 0.175rem;
				border-radius: 1rem;
				left: 0.175rem;
			}

.charts-unavailable {
	pointer-events: none;
	opacity: 0.25;
	filter: saturate(0);
	-webkit-filter: saturate(0);
}
.charts td:nth-child(2) {
	width: 4.75rem;
}
	.charts-movement {
		border-radius: 2rem;
		text-align: center;
		padding: 0.25rem !important;
		font-size: 1.5rem;
		color: #FFF;
		line-height: 3rem;
		height: 3.5rem;
		width: 3.5rem;
	}
		.charts-movement:hover {
			text-decoration: none;
		}
		.charts-movement_1 {
			background-color: #40E98A;;
		}
			.charts-movement_1::before {
				content: "";
				font-family: FontAwesome;
				position: relative;
				top: -0.1rem;
				font-size: 1rem;
				left: 0.25rem;
				display: inline-block;
			}
		.charts-movement_0 {
			background: transparent url("/img/logoGradient_v2.png") repeat scroll 60% center;
			filter: saturate(0.75);
			-webkit-filter: saturate(0.75);
		}	
		.charts-movement_-1 {
			background-color: #FF567A;
		}
			.charts-movement_-1::before {
				content: "";
				font-family: FontAwesome;
				position: relative;
				font-size: 1rem;
				top: -0.1rem;
				left: 0.25rem;
				display: inline-block;
			}