<h1 class='search-results_header'>Search results for '{{query}}'</h1>
		<div class='search-header'>albums</div>
		<div class='search-group'>
			{{if albums.length}}
				{{each albums}}
					<div class='album' title='{{this.title}}' style='background-image: url({{this.coverImage}})'>
						<i class='fa fa-play'></i>
					</div>
				{{/each}}
			{{else}}
				No albums found
			{{/if}}
		</div>
		<div class='search-header' rules='groups'>songs</div>
		<div class='search-group'>
			{{if songs.length}}
				<table class='songs'>
					<thead>
						<tr>
							<th>song</th>
							<th>album</th>
							<th>artist</th>
							<th>duration</th>
						</tr>
					</thead>
					<tbody>
						{{each songs}}
							<tr>
								<td>this.title</td>
								<td>this.album</td>
								<td>this.artist</td>
								<td>this.duration</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				No songs found
			{{/if}}
		</div>
	</div>
